<!--<div ng-controller='cadastroCtrl' class="container"> usado no controlador-->
<div class="container">
    <div class="formHolder">
        <table class="table" ng-if="users.length > 0">
            <thead>
                <th>Nome</th>
                <th>E-mail</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy:ordenarX" >
                    <td>{{user.nome | upper}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
        <form name="form">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input ng-blur type="text" class="form-control" ng-minlength="5" ng-model="user.nome" required name="nome">
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" ng-model="user.email" required name="nome">
            </div>
            <ng-cadastro-submit submit="cadastrar(user)"></ng-cadastro-submit>
        </form>
    </div>
</div>