<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokeDex</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="app" >

<div ng-controller="myController as vm">
    <input type="text" ng-model="vm.searchField" placeholder="Search">

    <div ng-repeat="pkm in vm.pkmList">
        {{pkm.number}} - {{pkm.name}}
        <img ng-src="//serebii.net/pokedex-xy/icon/{{ pkm.number }}.png" alt="">
    </div>

    <ul class="">
        <my-component ng-repeat="pkm in vm.pkmList"  pkm="pkm"></my-component>
    </ul>
    <hr>

    <h2>Directives</h2>
    <my-directive my-func="vm.myFunc" text="vm.text"></my-directive>

</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js" ></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js" ></script>

<script src="js/App.js" ></script>
<script src="js/controllers/myController.js" ></script>
<script src="js/components/firstComponent/myComponent.js" ></script>
<script src="js/directives/myDirective/myDirective.js"></script>
</body>
</html>