div {
    width: 100px;
    height: 100px;
    float: left;
    margin:20px;
}

.red{
    float:left;
    background-color: red;
}

.green {
        
    background-color: green;
}

.blue {
    float:right;
    background-color: blue;
}