body{
    margin:0;
    padding: 0;
    font-family: TakaoPGothic;
}

#table-holder{
    margin: 10px;
}

#ev-table{
    float: left;
    text-align: center;    
    padding:10px;
}

td, th{
    padding: 15px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table, td, th {    
    border: 1px solid #ddd;
}

.globalEVLabels {
    float:left;
    margin: 10px 0 0 10px;
    
}

.label {
    margin-left: 5px;
}

.editTextBox {
    width: 75px;    
}

input[type="button"]{
    border: none;
    
}

input[type="button"]:disabled {
    color:black;
} 

.setTargetButton {
    height: 25px;
}

.sumButton {
    margin-left: 20px;
    width: 50px;
    height: 25px;
    border: none;    
}

.targetBox {
    width: 55px;
    height: 25px;
    text-align: center;
    font-size: 1.1em;
}