
body{
    margin: 0;
    padding: 0;
    font-family:  arial,helvetica,sans-serif;
 
}
.break{
    clear: both;
}

#topbar{
    float: left;
    background-color:#7A0000;
    width: 100%;
    height: 40px;
    color:white;
}

.fixedwidth{
    margin: 0 auto 0 auto;
    width: 1050px;
}

#logo {
    float: left;
    padding: 5px 5px 3px 0px;
    border-right: 1px solid #990000;
}

#signindiv {
    
    float: left;
    padding: 6px 80px 12px 5px;        
    font-weight: bold;
    border-right: 1px solid #990000;
    font-size: 0.9em;    
    
}
#signindiv img{
    position: relative;
    top: 4px;
}

#topmenudiv{
    
    float: left;    
    
}

#topmenudiv ul{    
    
    padding: 0;
    margin: 0;    
    
}

#topmenudiv li{
    list-style: none;    
    border-right: 1px solid #990000;
    padding: 10px 10px 12px 10px;    
    height: 100%;    
    float:left;
}

#topmenudiv a{
    text-decoration: none;
    color:white;
    font-weight: bold;      
    font-size: 0.9em;
}

#searchdiv{
    padding: 8px 5px 10px 10px;
    float: left;
}

#searchdiv input[type=text]{    
    
    font-size: 0.9em;
    border:none;
    height: 25px;
}
#iconsearchdiv{
    float: right;
    margin-top: -1px;
    
}



#iconsearchdiv button{    
    border: none;
    height: 28px;
    width: 25px;
    background-color: white;
    background-image: url(images/lupa.png);
    background-repeat: no-repeat;
}
button:hover{
    cursor: pointer;
}

#newsbar{
    
    background-color:#990000;
    width: 100%;
    height: 90px;
    color:white;
    
}

#newsbar p{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    float: left;
}

#newstitle{
    font-size: 3em;
}

#uktag{
    font-size: 0.7em;
    padding-left: 20px;
}

#rss{
    float: right;
    margin-top: 30px;
}

#rss:hover{
    text-decoration: underline;
}


#topicmenu ul{
    background-color: #3E0C0D;
    margin:0;
    padding:0;
    padding: 5px 0 0 5px;
    height: 20px;
    
}

#topicmenu li {
    float:left;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;    
    font-size: 0.7em;
    border-right:1px solid #990000;
    
}

