body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }
.space{
    margin:10px;
}

#box-blue{    
    width: 300px;
    height: 200px;
    background-color:#328d8d;
    float:left;    
}

#box-red{
    width: 300px;
    height: 200px;
    background-color:#8d3232;
    float:left;
}

 @media (max-width: 700px) {
        body {
            background-color: #fff;
        }
     #box-blue{         
         margin: 10px auto auto 10px ;
     }
    }